<div class="jumbotron">
  <div class="container">
    <h1>eSave</h1>
  </div>
  <h4 class="shade">Skip shipping, save money.</h4>
</div>
<h2>Here are some related item:</h2>
<div ng-repeat="list in greeting.bigList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{list[0].primaryCategory[0].categoryName[0]}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div ng-repeat="item in list">
          <div class="col-md-2 col-sm-4 col-xm-6 col-xs-6">
            <a ng-href="/#/info/{{item.itemId[0]}}">
              <div class="thumbnail">
                <div class="thumbnail-img">
                  <img class="img-responsive" ng-src="{{item.galleryURL[0]}}" alt="related items">
                </div>
                <div class="caption">
                  <p class="blue">{{item.condition[0].conditionDisplayName[0]}}</p>
                  <p class="clear">Price: {{item.sellingStatus[0].currentPrice[0].__value__}}</p>
                  <h5 class="red">Ship: {{item.shippingInfo[0].shippingServiceCost[0].__value__}}</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
