<div class="jumbotron">
  <div class="container">
    <h1>eSave</h1>
    <a id="searchResult" ng-href="/#/search">Show</a>
  </div>
</div>

  <div ng-repeat="item in greeting.bigList">
    <!-- <div ng-repeat="item in list"> -->
      <div class="col-lg-2 col-md-3 col-xm-6">
        <a ng-href="" class="thumbnail">
          <!-- {{item}} -->
          <!-- {{item.galleryURL[0]}} -->
          <img class="thumbImg" ng-src="{{item.galleryURL[0]}}" alt="related items">
        </a>
      </div>
    <!-- </div> -->
  </div>
