body {
  background-color: rgba(230, 230, 230, 0.5);
}

img {
  width: 250px;
  margin: auto;
  vertical-align: middle;
}

label {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .thumbnail-img {
    height: 300px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .thumbnail-img {
    height: 250px;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .thumbnail-img {
    height: 120px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .thumbnail-img {
    height: 120px;
    overflow: hidden;
  }
}

.jumbotron {
  background-image: url('../img/jumbotron-img.jpg');
  background-size: cover;
  color: white;
}

.media {
  background-color: white;
  border: 2px solid lightgrey;
}

.media-object {
  width: 250px;
  height: 250px;
  border: 2px solid lightgrey;
}

.thumbnail {
  background-color: #CCCCCC;
}

.thumbnail:hover {
  box-shadow: inset 0px 0px 25px rgba(255,255,255,1);
}

.caption {
  background-color: white;
}

.lg-info-img {
  width: 650px;
  height: auto;
  padding: 5px 5px 5px 5px;
  z-index: 1;
}

.sm-info-img {
  height: 100px;
  width: 100px;
  padding: 1px 1px 1px 1px;
}

.sm-info-img:hover {
  border: 2px solid black;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.right {
  display: block;
  float: right;
}

.clear {
  clear: both;
}

.shade {
  position: relative;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
}

#searchBar {
  margin-bottom: 15px;
}
