<div ng-init="info.detail()">
  <div class="col-md-6">
    <div class="row">
      <span ng-repeat="picture in info.item.Item.PictureURL">
        <img class="sm-info-img" ng-mouseover="info.updatePicture(picture)" ng-src="{{picture}}">
      </span>
    </div>
    <div class="row">
      <div class="">
        <img class="img-responsive lg-info-img" ng-src="{{info.currentPicture}}">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{info.item.Item.Title}}</strong>
      </div>
      <div class="panel-body">
        <h4>Item Description</h4>
        <p><strong>Price:</strong>
          <span class="red"> $ {{info.item.Item.ConvertedCurrentPrice.Value}}</span>
        </p>
        <p><strong>Quantity: </strong>
          <span>{{info.item.Item.Quantity}}</span>
        </p>
        <p><strong>Location: </strong>
          <span>{{info.item.Item.Location}}</span>
        </p>
        <p><strong>Postal Code: </strong>
          <span>{{info.item.Item.PostalCode}}</span>
        </p>
        <hr>
        <h4>Seller Detail</h4>
        <p><strong>Seller: </strong>
          <span>{{info.item.Item.Seller.UserID}}</span>
        </p>
        <p><strong>Score: </strong>
          <span>{{info.item.Item.Seller.FeedbackScore}}</span>
        </p>
        <hr>
        <h4>Return Policy</h4>
        <p><strong>Policy: </strong>
          <span>{{info.item.Item.ReturnPolicy.ReturnsAccepted}}</span>
        </p>
        <p><strong>Type: </strong>
          <span>{{info.item.Item.ReturnPolicy.Refund}}</span>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <strong>
            <div class="col-md-10">
              Pick this item up yourself, you may save shipping cost of:
            </div>
            <div class="col-md-2">
              <span class="red">${{info.item.Item.ShippingCostSummary.ShippingServiceCost.Value}}</span>
            </div>
          </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button ng-click="info.contactSeller()" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal">Contact Seller</button>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h4 class="modal-title">Contacting {{info.item.Item.Seller.UserID}},</h4>
          </div>

          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="inputUserEmail">Your Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="inputUserEmail" ng-model="userEmailText" placeholder="youremail@example.org">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="inputSellerEmail">Seller Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="inputSellerEmail" ng-model="sellerEmailText" placeholder="sellemail@example.org">
                </div>
              </div>
              <div>
              <hr>
              <h5>Current price: <span class="red">{{info.item.Item.ConvertedCurrentPrice.Value}}</span></h5>
              <h5>Current Shipping cost: <span class="red">${{info.item.Item.ShippingCostSummary.ShippingServiceCost.Value}}</span></h5>
              <hr>
              </div>
              <div class="form-group">
                <label class="col-sm-9 control-label" for="negotiatePrice">You want to pick up this item for total of: </label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="negotiatePrice" ng-model="userPrice" placeholder="$">
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button ng-click="info.submitEmail(userEmailText, sellerEmailText, userPrice)" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
